animefacedataset
cat_generated
Cats
dog_generated
dog_generated_256
cat_generated
German_shepherds
German_shepherds_256
Lady_bug
Lady_bug_generated
discriminator
discriminator_anime
discriminator_cat
discriminator_cat_generated11
discriminator_cat1 
generator
generator_anime
generator_cat 
generator_cat1
generator1 
generated 
dog_generated1 
discriminator1 

